# For Loop
Iterate over list, range(enumeration)

In [4]:
nums= [1,2,3,4]
for num in nums:
    print(num)

1
2
3
4

#### Create list of even numbers from the given list.

In [12]:
nums= [1,2,3,4,3,5,6,7,8,9]
even_list=[]
for num in nums:
    if num %2==0:
        print(num)
        even_list.append(num)

2
4
6
8

#### Create new list by Removing duplicate numbers from the given list.

In [17]:
nums = [1,1,2,4,9,2,6,6]
dup = []
for num in nums:
    if num not in dup: 
        dup.append(num)
print(dup)

[1, 2, 4, 9, 6]

## Range

In [25]:
range_of= range(1,10) 
sum = 0
for i in range(1,10,3):
    print(i)
    sum+=i
    print(sum)

1
1
4
5
7
12

### inline for loop

In [26]:
nums= [1,1,2,4,9,2,6,6] 
list_even= [num for num in nums if num %2==0]
print(list_even)

[2, 4, 2, 6, 6]

In [28]:
nums= [1,1,2,4,9,2,6,6] 
list_even_t= [(num*100 if num%2==0 else num) for num in nums]
print(list_even_t)

[1, 1, 200, 400, 9, 200, 600, 600]

# Functions

In [1]:
def add(x,y):
    sum =x+y
    return sum
def mul (x,y):
    multiply = x*y
    return multiply

Product= mul(x=49,y=56)
print(Product)


Sum_of=add(x=19,y=45)
print(Sum_of)
print(add(29,87))

2744
64
116

In [3]:
def greet(name="World"):
    print(f"Hello, {name}")

greet("Hari")

def sum(a=0, b=0):
    return a+b
print (sum(a=5,b=3))

Hello, Hari
8

### Arbitrary Arguments:

In [4]:
def add (a,b,*args):
    print(a,b)
    print(args)

a= add(1,2,3,4,5,6)
print(a)

1 2
(3, 4, 5, 6)
None

### Return Statements

In [12]:
def even_num(number):
    if number %2==0:
        print("Even Number")
        return "Number is Even"
    print ("odd number")
    return "number is Odd"

Check_num=even_num(8)
print(Check_num)

Even Number
Number is Even

In [14]:
def even_num(number)->bool:
    if number %2==0:
        return "Number is True"
  
    return "number is False"

Check_num=even_num(9)
print(Check_num)

number is False

#### write a function that accepts three values (Arguments) x,y, operations

In [22]:
# where x=>int, y-int, operation -> string (+,-,*,/)
# function should return the output based on the operation
# i.e if operation= +add(x+y)
# operation =- substract and so on  


def calculate(x, y, operation):
    if operation == '+':
        return x + y
    elif operation == '-':
        return x - y
    elif operation == '*':
        return x * y
    elif operation == '/':
        return x / y if y != 0 else "Error: Division by zero."
    elif operation == 'mod':
        return x % y
    else:
        return "Error: Invalid operation."

x = float(input("Enter the first number: "))
y = float(input("Enter the second number: "))
operation = input("Enter operation (+, -, *, /, mod): ")

result = calculate(x, y, operation)
print("Result:", result)

Result: 5684.0

### Lamda Function

In [20]:
square= lambda x: x**2
print(square(98))

9604

### Questions
- Write a function Swap two numbers without using a temporary variable
- Write a function Determine if a string is a palindrome (palindrome is if we reverse it has same value)
- Write a function to Count the number of vowels in a given string
- write a function Find the common elements between two lists

In [31]:
def swap(a:int,b:int):
    a=a+b
    b=a-b
    a=a-b
    return a,b

a,b =swap(5,6)
print (a,b)

input="apa"
input==input [::-1]
def palin(input):
    if input == input [::-1]:
        return True
    return False
palin("apa")

6 5

True

In [42]:
def count_vowels(sentence):
    vowels ='aeiou'
    total_vowels = 0
    for char in sentence:
        if char.lower() in vowels:
            total_vowels+=1
    return total_vowels

total_vowels = count_vowels(" Despite controversy and threats, The Interview was released in its original, uncut form through limited theaters and digital platforms.Mera Yeshu YEsh")
print(total_vowels)

47